<div class="add-comment">
    <% @comment.errors.full_messages.each do |error| %>
        <ul>
            <li><%= error %></li>
        </ul>
    <% end %>

    <%= form_for [@article, @comment] do |f| %>
        <div class="field">
            <%= f.label 'add comment' %><br>
            <%= f.text_area :body, class: 'comment-area' %>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="action">
            <%= f.submit %>
        </div>
    <% end %>
</div>