<article class="container show-body">
  <div class="header">
    <h1>
      <strong>Title:</strong>
      <%= @article.title %>
    </h1>
    <div class="categories">
      <span>Categorie(s):</span>
      <div class="buttons">
        <% @article.tags.each do |tag| %>
          <button>
            <%= link_to tag.name, tag_path(tag) %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="image">
    <% unless @article.files.nil? %>
      <% @article.files.each do |file| %>
        <%= link_to file.filename, file, target: :blank %>
        <%= image_tag file.url %>
      <% end %>
    <% end %>
  </div>
  <div class="details">
    <div class="para">
      <p>
        <strong>Details :</strong>
        <%= @article.body %>
      </p>
    </div>
    <div class="comment">
      <%= render 'comments/comment' %>
      <%= render 'comments/form' %>
    </div>
  </div>
  <%= link_to 'Back', articles_path %>

</article>
