<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<% if @article.image.exists? %>
  <p><%= image_tag @article.image.url %><br/></p>
<% end %>

<%= render 'comments/comment' %>
<%= render 'comments/form' %>

<%= link_to 'Back', articles_path %>
