<header>
    <nav>
        <ul>
            <h2><%= link_to 'Beta ecommission', root_path %></h2>
            <div class="logged">
                <% if current_user %>
                    <li><%= link_to 'Edit profile', edit_user_registration_path  %></li>
                    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                    <li><%= image_tag current_user.gravatar_url, :class => "gravatar" %></li>
                <% else %>
                    <li><%= link_to 'Log in', new_user_session_path %></li>
                    <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <% end %>
            </div>
            <div class="menu">
                <% if current_user %>
                    <div class="grav">
                        <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
                        <ul>
                            <li><%= link_to 'Edit profile', edit_user_registration_path  %></li>
                            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </div>
                <% else %>
                    <ul>
                        <div class="loggin">
                            <li><%= link_to 'Log in', new_user_session_path %></li>
                        </div>
                    </ul>
                <% end %>
            </div>
        </ul>
    </nav>
</header>

