<header class="container-fluid">
    <nav>
        <ul>
            <h2><%= link_to 'Beta ecommission', root_path %></h2>
            <div class="search">
                <input type="text" />
            </div>
            <div class="logged">
                <% if current_user %>
                    <li><%= link_to 'Edit profile', edit_user_registration_path  %></li>
                    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                    <li><%= current_user.user_name %></li>
                    <li><%= image_tag current_user.gravatar_url, :class => "gravatar" %></li>
                <% else %>
                    <li><%= link_to 'Log in', new_user_session_path %></li>
                    <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <% end %>
            </div>
        </ul>
    </nav>
</header>