<!DOCTYPE html>
<html>
  <head>
    <title>Beta Ecommission</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
    
    <%= render 'layouts/alerts' %>
    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
